# Project-specific ignores
/data/
/Output/
/fix_docs/
/wandb/
#/scripts/
.secrets/
/outputs/
/.venv/
/coordinates/
# training artifacts
/model/SAVE/
*.pth
*.pt
*.ckpt

# OS/editor junk
.DS_Store
.idea/
.vscode/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
